:root {
  --main-color: #e5e5e5;
}
.header {
  color: var(--main-color);
  margin-left: 5px;
  margin-bottom: 10px;
}

.companyTitle {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  top: 15px;
}

.bigContainer {
  margin: 0 auto;
  text-align: center;
  width: 95vw;
  height: auto;
  max-height: 65vh;
  border-radius: 1em;
  background-color: var(--main-color);
  padding: 3px;
  overflow-y: scroll;
}

.companyContainer {
  display: inline-block;
  text-align: left;
  width: 90vw;
  height: 100px;
  background: #46728a;
  border-radius: 15px;
  margin: 0 auto;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  position: relative;
}

.companyName {
  margin-block-start: 10px;
  margin-block-end: 0px;
}

.companyContainer > p {
  /* display: inline-block; */
  margin-block-start: 0;
  max-width: 60%;
  margin-left: 35%;
  margin-top: -10px;
}

.companyLogo {
  width: 100%;
  height: 50px;
  object-fit: cover;
  left: 0;
  border-radius: 5px;
}

.extraData {
  display: inline-block;
  text-align: left;
  width: 90vw;
  height: auto;
  background: #46728a;
  border-radius: 15px;
  margin: 0 auto;
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.extraData > p,
h3 {
  margin-left: 10px;
}
.iconWrapper {
  text-align: center;
  margin-top: 25px;
}

.icons {
  width: 30px;
  margin-top: -15px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.imageWrapper {
  display: inline-block;
  width: 30%;
  margin-top: 25px;
  margin-left: 3vw;
}
.infoWrapper {
  width: 60%;
  float: right;
  padding-right: 10px;
}

.companyData {
  margin-left: 10px;
}
