:root {
  --main-bg-color: #e5e5e5;
  --bg: #394ef5;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.listItem {
  list-style-type: none;
  margin-left: 10px;
}
.otherContainer {
  width: 95vw;
  height: auto;
  max-height: 40vh;
  border-radius: 5px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 2vw;
  box-shadow: 0px 2px #0000000f;
  color: #5b5e71;
}

.name {
  display: inline-block;
  position: relative;
  top: -10px;
  font-size: x-large;
  margin-block-end: 0;
}

.adminHeader {
  margin-block-start: 0px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-top: 10px;
  color: #5b5e71;
}

.inputs {
  line-height: 2em;
  border-radius: 8px;
  width: 75%;
  margin-top: 5px;
  margin-left: 5%;
}

.saveButton {
  color: #ffffff;
  background: var(--bg);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  top: -20px;
}
.toggleButton {
  color: #ffffff;
  background: var(--bg);
  border-radius: 10px;
  padding: 10px;
  width: 90vw;
  position: relative;
  left: 15px;
  top: -8px;
}

.dash {
  position: relative;
  top: 90px;
}

.subheaders {
  color: #acb0cb;
  font-size: small;
}

.companyContainer {
  display: inline-block;
  text-align: center;
  width: 90vw;
  height: auto;
  padding-bottom: 1px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px #0000000f;
  color: #5b5e71;
  padding-left: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.content {
  margin-block-start: 0;
}
