.div {
  font: 13px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.forminput {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}
.formbutton {
  width: 9%;
  min-width: 60px;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

li {
  padding: 5px 10px;
  list-style-type: none;
}
.messagesli :nth-child(odd) {
  background: #eee;
}

li .name {
  font-weight: 900;
}
