:root {
  --main-color: #e5e5e5;
  --bg: #46728a;
}

.menu {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to left, #00a5e3, #394ef5);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  text-align: left;
  font-size: large;
  z-index: 10;
  position: absolute;
}

.ul {
  list-style-type: none;
  padding-left: 20px;
  font-size: xx-large;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

.link > li {
  padding-bottom: 20px;
}
