:root {
  --main-color: #e5e5e5;
  --bg: #46728a;
}

.menu {
  width: 150px;
  height: 210px;
  background: var(--bg);
  border: 3px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  font-size: large;
  right: 0;
  margin-top: -5px;
  margin-right: 5px;
  z-index: 10;
  position: absolute;
}

.menu > ul {
  list-style-type: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}
