.profileContainer {
  position: relative;
  width: 350px;
  height: 300px;
  left: 8px;
  border-radius: 15px;
  background-color: #e5e5e5;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
}
