.profileContainer {
  position: relative;
  width: 350px;
  height: 150px;
  left: 8px;
  border-radius: 15px;
  background-color: #e5e5e5;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
}

.info {
  color: #fff;
  margin-left: 10px;
  margin-block-start: -10px;
}

.icons {
  width: 30px;
  margin-top: -15px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
}
