.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to left, #00a5e3, #394ef5);
}

.loadingspinner {
  width: 20%;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10%; /* Half the height */
  margin-left: -10%;
}
