.logo {
  width: 60px;
  margin: 10px;
}

.burgerMenu {
  width: 60px;
  float: right;
  margin: 10px;
  z-index: 9;
}
.navBar {
  background-image: linear-gradient(to left, #00a5e3, #394ef5);
  width: 100vw;
  height: 35vh;
  position: absolute;
}
