.header {
  margin-block-start: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #ffffff;
  width: 80%;
}

.h2 {
  margin-block-end: 0px;
  margin-block-start: 0px;
  top: 100px;
  position: relative;
}
.subheader {
  color: #ffffff;
  font-size: small;
  position: relative;
  top: 100px;
}

.grid {
  margin: 20px auto;
  width: 50vw;
  height: 50px;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-row: auto auto;
  position: relative;
  top: 130px;
  left: -85px;
}
.box {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px #0000000f;
  color: #acb0cb;
}

.img {
  margin-top: 15px;
  margin-bottom: 15px;
}
