:root {
  --main-bg-color: #ffffff;
}

.dash {
  text-align: center;
  position: relative;
  top: 100px;
}

.container {
  position: relative;
  width: 95vw;
  height: auto;
  left: 8px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  text-align: center;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-left: -15px;
  display: inline-block;
  padding-bottom: 10px;
  box-shadow: 0px 2px #0000000f;
}
.header {
  margin-block-start: 0;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
  color: #5b5e71;
}
.headerOnBlue {
  margin-block-start: 0;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
}

.eventImg {
  width: 80vw;
  height: 95px;
  object-fit: fill;
  border-radius: inherit;
}

.searchBar {
  position: relative;
  top: 95px;
  width: 60vw;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
}

.icon {
  position: relative;
  top: 108px;
  width: 30px;
  margin-left: 10px;
}

.searchOptions {
  position: relative;
  top: 95px;
  width: 25vw;
  left: 5%;
  z-index: 10;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.searchWrapper {
  position: absolute;
  left: 5%;
  top: 138px;
  width: 90%;
  height: auto;
  padding-bottom: 5px;
  background-color: #c0bdbd;
  border-radius: 15px;
  z-index: 10;
  overflow-y: scroll;
}

.link {
  text-decoration: none;
  color: black;
}
