:root {
  --main-bg-color: #e5e5e5;
}

.dash {
  text-align: center;
}

.container {
  position: relative;
  width: 355px;
  height: auto;
  left: 8px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  text-align: center;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-left: -15px;
  display: inline-block;
  padding-bottom: 10px;
}
.header {
  margin-block-start: 0;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
}

.eventImg {
  width: 330px;
  height: 95px;
  object-fit: fill;
  border-radius: inherit;
}

.searchBar {
  position: relative;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  text-align: center;
  margin-bottom: 10px;
  margin-left: 20px;
  display: inline-block;
}

.icon {
  position: absolute;
  width: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

.searchOptions {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 102px;
  z-index: 10;
  height: 38px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
  text-align: center;
}
