:root {
  --main-bg-color: #ffffff;
}

.dash {
  text-align: center;
  position: relative;
  top: 100px;
}

.container {
  position: relative;
  width: 95vw;
  height: auto;
  left: 8px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  text-align: center;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-left: -15px;
  display: inline-block;
  padding-bottom: 10px;
  box-shadow: 0px 2px #0000000f;
}
.messagecontainer {
  position: relative;
  width: 88vw;
  height: auto;
  left: 8px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  text-align: left;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: -15px;
  display: inline-block;
  padding-bottom: 10px;
  /* box-shadow: 2px 2px grey; */
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.header {
  margin-block-start: 0;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
  color: #5b5e71;
  padding: 10px;
}
.headerOnBlue {
  margin-block-start: 0;
  /* margin-block-end: 0; */
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

.eventImg {
  width: 80vw;
  height: 95px;
  object-fit: fill;
  border-radius: inherit;
}

.searchBar {
  position: relative;
  outline: none;
  top: 95px;
  width: 60vw;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--main-bg-color);
  border: none;
  height: 34px;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
}

.icon {
  position: relative;
  top: 106px;
  width: 30px;
  margin-left: 10px;
}

.searchOptions {
  position: relative;
  outline: none;
  top: 95px;
  width: 25vw;
  left: 5%;
  z-index: 5;
  height: 36px;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--main-bg-color);

  text-align: center;
  font-family: "Nunito", sans-serif;
}

.searchOptions option {
  font-size: medium;
}

.searchWrapper {
  position: absolute;
  left: 5%;
  top: 138px;
  width: 81%;
  height: auto;
  padding-bottom: 5px;
  background-color: #f5f6ff;
  border-radius: 5px;
  z-index: 8;
  overflow-y: scroll;
  box-shadow: 0px 2px #0000000f;
}

.link {
  text-decoration: none;
  color: black;
}

.searchResult {
  margin-left: 20px;
}

.signed {
  float: right;
  font-size: small;
  padding-right: 10px;
}
