:root {
  --main-color: #e5e5e5;
}

.inputs {
  line-height: 2em;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 60%;
}

.wrapper {
  width: 90vw;
  height: auto;
  background: #46728a;
  border-radius: 15px;
  margin: 0 auto;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  padding: 10px;
}

.logos {
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}

.button {
  width: 80px;
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  background: #2c4452;
  border: 3px solid #f8eded;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--main-color);
}

.linktext {
  font-size: 10px;
}

.prevRoleButton {
  width: 40px;
  height: 30px;
  float: right;
  margin-right: 10px;
  background: #2c4452;
  border: 3px solid #f8eded;
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--main-color);
}
