.eachEvent {
  display: inline-block;
  text-align: left;
  width: 90vw;
  height: auto;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 2px #00000014;
  border-radius: 5px;
  color: var(--main-color);
  padding-left: 5px;
}

/* .eachEvent > button {
  width: 100px;
  height: 25px;
  background: #64a4c6;
  border-radius: 5px;
  color: var(--main-color);
} */

.link {
  text-decoration: none;
  color: var(--main-color);
}

.clicked {
  background-color: green;
}

.subheader {
  color: #acb0cb;
  font-size: small;
}

.eventName {
  color: #5b5e71;
}
