.eachEvent {
  display: inline-block;
  text-align: left;
  width: 85vw;
  height: auto;
  padding-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 2px #00000014;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

.clicked {
  background-color: green;
}

.subheader {
  color: #acb0cb;
  font-size: small;
  font-weight:bold;
  padding-left: 18px;
  padding-right: 15px
}

.eventName {
  padding-left: 15px;
  padding-right: 15px;
  color: #5b5e71;
  font-weight:bold;
}
